#preloader
  .pre-container
    .spinner
      .double-bounce1
      .double-bounce2
// end Preloader
.container-fluid
  // box header
  header.box-header
    .box-logo
      a(href='index.html')
        img(src='img/logo.png', width='80', alt='Logo')
    // box-nav
    a.box-primary-nav-trigger(href='#0')
      span.box-menu-text Menu
      span.box-menu-icon
    // box-primary-nav-trigger
  // end box header
  // nav
  nav
    ul.box-primary-nav
      li.box-label About me
      li
        a(href='index.html') Intro        
      li
        a(href='about.html') About me
      li
        a(href='services.html') services
        i.ion-ios-circle-filled.color
      li
        a(href='portfolio.html') portfolio        
      li
        a(href='contact.html') contact me        
      li.box-label Follow me
      li.box-social
        a(href='https://www.facebook.com/neil.junsan', target="_blank")
          i.ion-social-facebook
      li.box-social
        a(href='https://github.com/Neil-Saitama', target="_blank")
          i.ion-social-github
  // end nav