extends layout_general

block content

    .top-bar
          h1 About Me
          p
            a(href='#') Home
            |  / About me

    .container.main-container.clearfix
          .col-md-6
            img.img-responsive(src='/img/me.jpg', alt='')
          .col-md-6
            h3.uppercase About Me 
            h5 Front-end Developer
            .h-30
            p
              | Hello I'm Ephraim Neil Junsan 25 years of age, Philippine based freelance Web Developer / Designer, Clickfunnels Editor and currently working as Front-end Web Developer / Designer at Webfactories Singapore Based. I like to resolve design problems. 

            strong
              | Feel free to contact me for freelance project.
            br
            p
              | Skills: Wordpress, Github, Clickfunnels, PSD to HTML, Web Designing, Netlify and Wordpress Ecommerce etc.
            .h-10
            ul.social-ul
              li.box-social
                a(href='https://www.facebook.com/neil.junsan', target="_blank")
                  i.ion-social-facebook
              li.box-social
                a(href='https://github.com/Neil-Saitama', target="_blank")
                  i.ion-social-github