extends layout

block content

    section.box-intro
     .table-cell
       h1.box-headline.letters.rotate-2
         span.box-words-wrapper
          b.is-visible design.
          b  coding.
          b website.
       h5 Hi, my name is <strong>Neil Junsan</strong>. I'm a Front-end Web Designer / Developer based in Philippines.<br> I have a passion for web design and love to create for web and mobile devices.
     .mouse
       .scroll
    // end box-intro

    .portfolio-div
      .portfolio
        .no-padding.portfolio_container
          // single work
          .col-md-3.col-sm-6.fashion.logo
            a.portfolio_item(href='single-project.html')
              img.img-responsive(src='/img/mockup-sec.jpg', alt='image')
              .portfolio_item_hover
                .portfolio-border.clearfix
                  .item_info
                    span Mockups in seconds
                    em Fashion / Logo
          // end single work
          // single work
          .col-md-3.col-sm-6.ads.graphics
            a.portfolio_item(href='single-project.html')
              img.img-responsive(src='/img/float-mockups.jpg', alt='image')
              .portfolio_item_hover
                .portfolio-border.clearfix
                  .item_info
                    span Floating mockups
                    em Ads / Graphics
          // end single work
          // single work
          .col-md-6.col-sm-12.photography
            a.portfolio_item(href='single-project.html')
              img.img-responsive(src='/img/photorealistic.jpg', alt='image')
              .portfolio_item_hover
                .portfolio-border.clearfix
                  .item_info
                    span Photorealistic smartwatch
                    em Photography
          // end single work
          // single work
          .col-md-3.col-sm-6.fashion.ads
            a.portfolio_item(href='single-project.html')
              img.img-responsive(src='/img/infographic.jpg', alt='image')
              .portfolio_item_hover
                .portfolio-border.clearfix
                  .item_info
                    span Held by hands
                    em Fashion / Ads
          // end single work
          // single work
          .col-md-3.col-sm-6.graphics.ads
            a.portfolio_item(href='single-project.html')
              img.img-responsive(src='/img/mobile.jpg', alt='image')
              .portfolio_item_hover
                .portfolio-border.clearfix
                  .item_info
                    span Mobile devices
                    em Graphics / Ads
          // end single work
          // single work
          .col-md-6.col-sm-12.photography
            a.portfolio_item(href='single-project.html')
              img.img-responsive(src='/img/photorealistic.jpg', alt='image')
              .portfolio_item_hover
                .portfolio-border.clearfix
                  .item_info
                    span Photorealistic smartwatch
                    em Photography
          // end single work
          // single work
          .col-md-3.col-sm-6.graphics.ads
            a.portfolio_item(href='single-project.html')
              img.img-responsive(src='/img/mockup-sec.jpg', alt='image')
              .portfolio_item_hover
                .portfolio-border.clearfix
                  .item_info
                    span Mobile devices
                    em Graphics / Ads
          // end single work
          // single work
          .col-md-3.col-sm-6.graphics.ads
            a.portfolio_item(href='single-project.html')
              img.img-responsive(src='/img/mobile.jpg', alt='image')
              .portfolio_item_hover
                .portfolio-border.clearfix
                  .item_info
                    span Mobile devices
                    em Graphics / Ads
          // end single work
          // single work
          .col-md-3.col-sm-6.graphics.ads
            a.portfolio_item(href='single-project.html')
              img.img-responsive(src='/img/infographic.jpg', alt='image')
              .portfolio_item_hover
                .portfolio-border.clearfix
                  .item_info
                    span Mobile devices
                    em Graphics / Ads
          // end single work
          // single work
          .col-md-3.col-sm-6.graphics.ads
            a.portfolio_item(href='single-project.html')
              img.img-responsive(src='/img/float-mockups.jpg', alt='image')
              .portfolio_item_hover
                .portfolio-border.clearfix
                  .item_info
                    span Mobile devices
                    em Graphics / Ads
          // end single work
