extends layout_general

block content

    .top-bar
      h1 services
      p
        a(href='#') Home
        |  / Services
    // end top bar
    .container.main-container
      .clearfix
        // service-box
        .col-md-4.service-box
          i.ion-android-favorite-outline.size-50
          h3 Responsive Design
          .h-10
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliter enim nosmet ipsos nosse non possumus. Inscite autem medicinae
        // end service-box
        // service-box
        .col-md-4.service-box
          i.ion-android-options.size-50
          h3 Easy Customization
          .h-10
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliter enim nosmet ipsos nosse non possumus. Inscite autem medicinae
        // end service-box
        // service-box
        .col-md-4.service-box
          i.ion-android-checkmark-circle.size-50
          h3 Creative Design
          .h-10
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliter enim nosmet ipsos nosse non possumus. Inscite autem medicinae
        // end service-box
        // service-box
        .col-md-4.service-box
          i.ion-ios-pulse-strong.size-50
          h3 user friendly
          .h-10
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliter enim nosmet ipsos nosse non possumus. Inscite autem medicinae
        // end service-box
        // service-box
        .col-md-4.service-box
          i.ion-earth.size-50
          h3 fully customizible
          .h-10
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliter enim nosmet ipsos nosse non possumus. Inscite autem medicinae
        // end service-box
        // service-box
        .col-md-4.service-box
          i.ion-speedometer.size-50
          h3 retina ready
          .h-10
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliter enim nosmet ipsos nosse non possumus. Inscite autem medicinae
        // end service-box